{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'grocery_app/css-files/main.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<title>Fruits & Vegetables</title>
</head>
<body>
	<nav class="navigation" id="navigation">
		<ul class="nav-ul">
			<h1><li class="nav-tab"><a href="{% url 'app-home' %}" class="nav-title">Grocery App</a></li></h1>
			<li class="nav-tab"><a href="{% url 'app-categories' %}" class="nav-link"><b>Shop by Category</b></a></li>
			<li class="nav-tab"><input type="search" name="search" placeholder="Search Products" /></li>
			<li class="nav-tab"><a href="#" class="nav-link"><b>My Basket</b></a></li>
			<li class="nav-tab"><a href="#" class="nav-link"><b>LogIn/SignUp</b></a></li>
		</ul>
	</nav>
	<main class="fruits-vegetables__main">
		<table class="fruits-vegetables__table">
			<tbody>
				<tr class="fruits-vegetables__row">
					<td class="fruits-vegetables__col">
						<a href="#">
							<div class="fruits-vegetables__outer_div">
								<img src="{% static 'grocery_app/images/makeup-hygiene/beardo.jpg' %}" width="300px" height="200px" class="fruits-vegetables__img">
								<div class="fruits-vegetables__inner_div">
									<h3 class="fruits-vegetables__name text_cs">Beardo Peel Of Mask, 250 ml</h3>
									<p class="fruits-vegetables__price text_cs"><b>MRP: Rs. 199</b></p>
									<div class="product__rating">
										<p class="product__rating_short">4.3</p>
										<div class="product__rating_detail">
											<span class="material-symbols-outlined text_cs">grade</span>
											<em class="product__rating_details text_cs">754 ratings & 19 reviews</em>
										</div>
									</div>
									<div class="fruits-vegetables__delivery"><span class="material-symbols-outlined truck text_cs">local_shipping</span><p class="product__delivery">Standard: Tomorrow 10:30AM-9:00PM</p></div>
								</div>
							</div>
						</a>
					</td>
				</tr>
				<tr class="fruits-vegetables__row">
					<td class="fruits-vegetables__col">
						<a href="#">
							<div class="fruits-vegetables__outer_div">
								<img src="{% static 'grocery_app/images/makeup-hygiene/body-lotion.jpg' %}" width="300px" height="200px" class="fruits-vegetables__img">
								<div class="fruits-vegetables__inner_div">
									<h3 class="fruits-vegetables__name text_cs">Himalaya Body Lotion, 200 ml</h3>
									<p class="fruits-vegetables__price text_cs"><b>MRP: Rs. 121</b></p>
									<div class="product__rating">
										<p class="product__rating_short">4.3</p>
										<div class="product__rating_detail">
											<span class="material-symbols-outlined text_cs">grade</span>
											<em class="product__rating_details text_cs">754 ratings & 19 reviews</em>
										</div>
									</div>
									<div class="fruits-vegetables__delivery"><span class="material-symbols-outlined truck text_cs">local_shipping</span><p class="product__delivery">Standard: Tomorrow 10:30AM-9:00PM</p></div>
								</div>
							</div>
						</a>
					</td>
				</tr>
				<tr class="fruits-vegetables__row">
					<td class="fruits-vegetables__col">
						<a href="#">
							<div class="fruits-vegetables__outer_div">
								<img src="{% static 'grocery_app/images/makeup-hygiene/dove.jpg' %}" width="300px" height="200px" class="fruits-vegetables__img">
								<div class="fruits-vegetables__inner_div">
									<h3 class="fruits-vegetables__name text_cs">Dove Shampoo, 500 ml</h3>
									<p class="fruits-vegetables__price text_cs"><b>MRP: Rs. 340</b></p>
									<div class="product__rating">
										<p class="product__rating_short">4.3</p>
										<div class="product__rating_detail">
											<span class="material-symbols-outlined text_cs">grade</span>
											<em class="product__rating_details text_cs">754 ratings & 19 reviews</em>
										</div>
									</div>
									<div class="fruits-vegetables__delivery"><span class="material-symbols-outlined truck text_cs">local_shipping</span><p class="product__delivery">Standard: Tomorrow 10:30AM-9:00PM</p></div>
								</div>
							</div>
						</a>
					</td>
				</tr>
				<tr class="fruits-vegetables__row">
					<td class="fruits-vegetables__col">
						<a href="#">
							<div class="fruits-vegetables__outer_div">
								<img src="{% static 'grocery_app/images/makeup-hygiene/face-wash.jpg' %}" width="300px" height="200px" class="fruits-vegetables__img">
								<div class="fruits-vegetables__inner_div">
									<h3 class="fruits-vegetables__name text_cs">Mama Earth Face Wash, 250 ml</h3>
									<p class="fruits-vegetables__price text_cs"><b>MRP: Rs. 195</b></p>
									<div class="product__rating">
										<p class="product__rating_short">4.3</p>
										<div class="product__rating_detail">
											<span class="material-symbols-outlined text_cs">grade</span>
											<em class="product__rating_details text_cs">754 ratings & 19 reviews</em>
										</div>
									</div>
									<div class="fruits-vegetables__delivery"><span class="material-symbols-outlined truck text_cs">local_shipping</span><p class="product__delivery">Standard: Tomorrow 10:30AM-9:00PM</p></div>
								</div>
							</div>
						</a>
					</td>
				</tr>
				<tr class="fruits-vegetables__row">
					<td class="fruits-vegetables__col">
						<a href="#">
							<div class="fruits-vegetables__outer_div">
								<img src="{% static 'grocery_app/images/makeup-hygiene/lip-stick.jpg' %}" width="300px" height="200px" class="fruits-vegetables__img">
								<div class="fruits-vegetables__inner_div">
									<h3 class="fruits-vegetables__name text_cs">Lip Stick, Pack of 1</h3>
									<p class="fruits-vegetables__price text_cs"><b>MRP: Rs. 290</b></p>
									<div class="product__rating">
										<p class="product__rating_short">4.3</p>
										<div class="product__rating_detail">
											<span class="material-symbols-outlined text_cs">grade</span>
											<em class="product__rating_details text_cs">754 ratings & 19 reviews</em>
										</div>
									</div>
									<div class="fruits-vegetables__delivery"><span class="material-symbols-outlined truck">local_shipping</span><p class="product__delivery text_cs">Standard: Tomorrow 10:30AM-9:00PM</p></div>
								</div>
							</div>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</main>
</body>
</html>